* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container {
    display: flex;
    min-width: 550px;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid red;

}

#computerSelects {
    margin-left: 150px;
}

button {
    transition: all .7s ease;
}
.selected {
    transform: scale(1.1); 
    background-color: cyan;
}

.results-container {
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid green;
}

.results-container h3 {
    text-align: center;
}

.gameControls {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid blue;
}